<div class="exercise">
  <form name="exerciseDetailForm" novalidate>
    <div>
      <span class="exercise__required">*</span> обязательное поле
    </div>
    <div class="exercise__box">
      <div class="exercise__field">
        <label>
          Название <span class="exercise__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          length-check
          required="required"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.name">
      </div>  

      <div ng-repeat="sentence in $ctrl.exercise.sentences" class="exercise__sentences">
        <fill-gaps-sentence sentence="sentence" on-delete="$ctrl.deleteSentence($event)"></fill-gaps-sentence>     
      </div>

      <div ng-if="!$ctrl.exercise.sentences.length" class="exercises__empty">Пока что упражнение не содержит ни одного предложения. Добавьте первое предложение кнопкой "Добавить предложение"</div>

      <div>
        <button
          class="exercise__action button"
          ng-disabled="exerciseDetailForm.$invalid"
          ng-click="$ctrl.addSentence();">
          Добавить предложение
        </button>
      </div>
      <div ng-if="$ctrl.isNewExercise">
        <button
          class="exercise__action button"
          ng-disabled="exerciseDetailForm.$invalid"
          ng-click="$ctrl.saveExercise();">
          Создать упражнение
        </button>
      </div>
      <div ng-if="!$ctrl.isNewExercise">
        <button
          class="exercise__action button delete"
          ng-click="$ctrl.deleteExercise();">
          Удалить упражнение
        </button>
      </div>
      <div ng-if="!$ctrl.isNewExercise">
        <button
          class="exercise__action button update"
          ng-click="$ctrl.updateExercise();">
          Сохранить упражнение
        </button>
      </div>
      <div>
          <button
            class="exercise__action button update"
            ng-click="$ctrl.markup();">
            Сверстать и скопировать
          </button>
      </div>

      <input type="text" ng-if="$ctrl.markupText" ng-model="$ctrl.markupText" id="markup">
      <button ng-if="$ctrl.markupText" ng-click="$ctrl.copyToClipboard()">Скопировать в буфер обмена</button>
    </div>
  </form>
</div>
