<div class="exercise">
  <form name="exerciseDetailForm" novalidate>
    <div>
      <span class="exercise__required">*</span> field is required
    </div>
    <div class="exercise__box">
      <h3 class="exercise__sub-title">
        Personal
      </h3>
      <div class="exercise__field">
        <label>
          Name <span class="exercise__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          length-check
          required="required"
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.name">
      </div>
      <div class="exercise__field">
        <label>
          Email
          <span class="exercise__error" ng-if="exerciseDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          type="email"
          name="email"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.email">
      </div>
      <div class="exercise__field">
        <label>
          Job title
        </label>
        <input
          type="text"
          name="jobTitle"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.job">
      </div>
      <div class="exercise__field">
        <label>
          Location
        </label>
        <input
          type="text"
          name="location"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.location">
      </div>
    </div>
    <div class="exercise__box exercise__box--no-margin">
      <h3 class="exercise__sub-title">
        Social
      </h3>
      <div class="exercise__field">
        <label>
          Facebook
        </label>
        <input
          type="text"
          name="facebook"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.social.facebook">
      </div>
      <div class="exercise__field">
        <label>
          GitHub
        </label>
        <input
          type="text"
          name="github"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.social.github">
      </div>
      <div class="exercise__field">
        <label>
          Twitter
        </label>
        <input
          type="text"
          name="twitter"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.social.twitter">
      </div>
      <div class="exercise__field">
        <label>
          LinkedIn
        </label>
        <input
          type="text"
          name="linkedin"
          length-check
          ng-change="$ctrl.updateExercise();"
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.exercise.social.linkedin">
      </div>
    </div>

    <exercise-tag
      tag="$ctrl.exercise.tag"
      on-change="$ctrl.tagChange($event);">
    </exercise-tag>

    <div ng-if="$ctrl.isNewExercise">
      <button
        class="exercise__action button"
        ng-disabled="exerciseDetailForm.$invalid"
        ng-click="$ctrl.saveExercise();">
        Create exercise
      </button>
    </div>
    <div ng-if="!$ctrl.isNewExercise">
      <button
        class="exercise__action button delete"
        ng-click="$ctrl.deletExercise();">
        Delete exercise
      </button>
    </div>

  </form>
</div>
