<div class="exercise">
    <h1 *ngIf="isNew">Новое упражнение<mat-spinner *ngIf="inProgress" class="top-spinner" diameter="50"></mat-spinner></h1>
    <form name="exerciseDetailForm" novalidate>
        <div class="exercise__box">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Название" [(ngModel)]="exercise.name" name="name">
            </mat-form-field>

            <div ng-repeat="sentence in $ctrl.exercise.sentences" class="exercise__sentences">
                <fill-gaps-sentence sentence="sentence" on-delete="$ctrl.deleteSentence($event)"></fill-gaps-sentence>
            </div>

            <div *ngIf="exercise.sentences.length == 0" class="exercises__empty">Пока что упражнение не содержит ни
                одного предложения. Добавьте первое предложение кнопкой "Добавить предложение"</div>
            <div>
                <div>
                    <button mat-raised-button class="form-button" (click)="addSentence()">
                        Добавить предложение
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" class="form-button" (click)="saveExercise()">
                        Сохранить упражнение
                    </button>
                </div>
                <div>
                    <button mat-raised-button class="form-button" (click)="createMarkup()">
                        Сверстать и скопировать
                    </button>
                </div>
            </div>

            <input matInput type="text" *ngIf="markupText" id="markup" [value]="markupText">
            <button mat-raised-button *ngIf="markupText" (click)="copyToClipboard()">Скопировать в буфер обмена</button>
        </div>
    </form>
</div>