.exercise>* {
    margin: 10px;
    padding: 10px;
  }
  
  .sentence {
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    user-select: none;
    border: 1.5px dashed #222;
  }
  
  .sentence.selected {
    background-color: #dddddd;
  }
  
  .sentence.wrong {
    background-color: #fc8d83;
  }
  
  .sentence.right {
    background-color: #99ffcc;
  }
  
  .hidden {
    visibility: hidden;
  }

  .button {
    background-color: #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .button:active {
    background-color: #bbb;
  }
  
  .button.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }
  