.exercises__empty {
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
}
.exercises__empty .material-icons {
  position: relative;
  top: 2px;
}

.fill-gaps-sentence {
  display: table;
}

.fill-gaps-sentence.text {
  display: table;
}

.fill-gaps-sentence.words {
  display: table;
}

.fill-gaps-sentence.delete {
  display: table;
}

.fill-gaps-sentence-row {
  display: table-row;
}

.fill-gaps-sentence-cell {
  display: table-cell;
}