<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ sentence.number }}
      </mat-panel-title>
      <mat-panel-description>
        {{ sentence.text }}
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-form-field class="long-input">
      <textarea matInput placeholder="Введите предложение или вопрос, на который ученику будут предложены варианты ответа" [(ngModel)]="sentence.text"></textarea>
    </mat-form-field>

    <br>
  
    <mat-form-field class="long-input">
      <input matInput placeholder="Введите правильный вариант ответа" [(ngModel)]="sentence.rightAnswer">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="long-input">
      <input matInput placeholder="Введите неверные варианты ответа через запятую" [(ngModel)]="sentence.words">
    </mat-form-field>
  
    <br>
  
    <button mat-button (click)="delete()" color="warn">
      <mat-icon>delete</mat-icon>Удалить предложение
    </button>
  
    
  </mat-expansion-panel>