.form-button {
    float: left;
    margin: 20px;
}

.top-spinner {
    margin:0 auto;
}

.long-input {
    width: 100%;
}

.exercise-type-input {
    width: 30%;
}

.small-input {
    width: 30%;
    margin: 0px 30px 0px 0px;
}