<div class="fill-gaps-sentence">
    <div class="fill-gaps-sentence-row">
        <div class="fill-gaps-sentence-cell text">
            <div class="exercise__field">
                <textarea ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
            }"
                    class="sentence-text" ng-model="$ctrl.sentence.text">
        </div>
    </div>

    <div class="fill-gaps-sentence-cell words">
        Words
    </div>

    <div class="fill-gaps-sentence-cell delete">
        <a href=""
            ng-click="$ctrl.deleteSentence();">            
            <i class="material-icons">
              delete
            </i>            
        </a>
    </div>
    </div>
</div>
<!--<optionWords words="$ctrl.sentence.words"><</optionWords>-->