.ew-exercise>* {
    margin: 10px;
    padding: 10px;
  }
  
  .ew-sentence {
    padding: 7px;
    margin: 10px;
    min-height: 100%;
    user-select: none;
    border: 1px dashed #222;
    cursor: pointer;
  }
  
  .ew-sentence.selected {
    background-color: #fdf8d2;
  }
  
  .ew-sentence.wrong {
    background-color: #fc8d83;
  }
  
  .ew-sentence.right {
    background-color: #71bb44;
  }
  
  .hidden {
    visibility: hidden;
  }

  .ew-button {
  background-color: #199c68;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
}

.ew-button:hover {
  background-color: #21c784;
  color: white;
  text-decoration: none;
}

.ew-button:focus {
  background-color: #21c784;
  color: white;
  text-decoration: none;
}

  .ew-button:visited {
    text-decoration: none;
  }
  
  
  .ew-button.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }

  tr:nth-child(even) {
    background-color: #f7f3f3;
  }
  
  .ew-controls {
    text-align: center;
  }