.login-card {
    width: 400px;
    margin: 5% auto;
    padding: 0;
  }
  
  .login-btn {
    margin: 0 auto;
  }
  
  .mat-card-header-text {
    width: 100%;
  }
  
  .login-card-header {
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0.25em;
  }
  
  .login-card-title {
    font-size: 20pt;
    color: #ccc;
    text-align: center;
    margin: 0.25em 0;
    width: 375px;
  }
  
  .login-card-content {
    padding: 24px;
    text-align: center;
  }
    